html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    font-family: "Noto Sans", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 1em;
}

.nav {
    margin: 0 15px;
}

.nav-sidefill {
    flex: 1;
}

.icon-tags {
    width: 18px;
    margin: 0 6px 0 0;
}

.icon-calendar {
    width: 12px;
    margin: 0 6px 0 0;
}

.index {
    font-family: "Noto Sans", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    padding: 20px;
}

.index-title {
    font-size: 2em;
    font-weight: bold;
}

.index-tags {
    display: flex;
    flex: 1;
}

.index-subtitle {
    font-size: 1em;
}

.article {
    margin: 40px 0;
}

.index-article-bar {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
}

.index-datetime {
    font-size: .75em;
}

.footer {
    margin: 60px 0 60px 0;
    font-size: .6em;
    text-align: center !important;
}

.fas {
    margin:0 6px 0 0;
}

.column-left {
    flex-grow: 1;
}

.powered {
    color: #808080;
}

.powered a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Regular.ttf');
}
