a {
    color: #000000;
    text-decoration: none;
}

.column-middle {
    width: 1024px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.column-left {
    flex-grow: 1;
}

.column-right {
    flex-grow: 1;
}

.post {
    font-family: "Noto Sans", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    padding: 40px;
}

.page {
    font-family: "Noto Sans", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    padding: 40px;
}

.title {
    margin: 60px 0 60px 0;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Noto Sans", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-align: center !important;
    text-shadow: 0 2px 2px #000000aa;
}

.post-title {
    font-size: 2em;
    font-weight: bold;
}

.post-subtitle {
    font-size: 1em;
    color: #454545;
}

.post-datetime {
    font-size: .75em;
    color: #454545;
}

.post-bar {
    display: flex;
    margin: 20px 0;
}

.post-tags {
    display: flex;
    flex: 1;
}

.tag {
    font-size: .75em;
    margin-right: 6px;
}

.markdown-body {
    font-family: "Noto Sans", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

@media screen and (max-width: 1024px) {
    .body {
        display: block;
    }

    .column-middle {   
        width: 100%;
    }

    .column-left {
        width: 100%;
    }

    .column-right {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 5px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
